@import "tailwindcss";
@plugin "daisyui";

@theme{
  --color-red-primary: #DC2626;
  --color-red-secondary: #B91C1C;
  --color-red-terciary: #991B1B;
  --color-text-primary: #1F2937;
  --color-text-secondary: #6B7280;
  --color-text-terciary: #9CA4AF;
  --color-text-link: #3B82F6;
}