@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
  --color-red-primary: #dc2626;
  --color-red-secondary: #b91c1c;
  --color-red-terciary: #991b1b;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-text-terciary: #9ca4af;
  --color-text-link: #3b82f6;
}